
body {
    font-family: arial;
}

.runner-box {
    display: inline-block;
}

table {
    background-color: #eee;
    border-collapse: collapse;
}

th {
    text-align: right;
    border: 1px solid #ccc;
}
th input {
    text-align; center;
}
td {
    border: 1px solid #ccc;
    padding-right: 15px;
    text-align: right;
    font-size: 22px;
    color: #313231;
}
td .smaller {
    font-size: 16px;
    padding: 1px;
}
td .smaller2 {
    font-size: 13px;
    padding: 2px;
}
.parser-header {
    font-weight: bold;
    text-align: center;
}
.parser-header span {
    display: block;
    padding: 5px 15px;
}
.source-header {
    font-weight: normal;
    padding: 6px 4px 0 5px;
}

.source-header > div > div {
    display: inline-block;
    margin: 3px;
}

.run-check {
    font-size: 10px;
    font-weight: normal;
    color: #757575;
    display: inline-block;
    margin: 0 3px;
    position: relative;
    overflow:hidden;
}

.run-check,
.run-check input,
.run-check label {
    cursor: pointer;
}

.filesize {
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    padding:0 2px;
    color: #757575;
}
#options-box {
    display: inline-block;
    vertical-align: top;
}
.parser-options {
    display: inline-block;
    vertical-align: top;
}