
body {
    font-family: arial;
}

.invisible {
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 1px;
}

#resultsContainer {
    min-height: 345px;
    min-width: 587px;
}

.runner-box {
    display: inline-block;
}

table {
    background-color: #eee;
    border-collapse: collapse;
}

th {
    border: 1px solid #ccc;
    text-align: right;
}
td {
    border: 1px solid #ccc;
    color: #313231;
    font-size: 22px;
    padding-right: 15px;
    text-align: right;
}
td .smaller {
    font-size: 16px;
    padding: 1px;
}
td .smaller2 {
    font-size: 13px;
    padding: 2px;
}
.parser-header {
    font-weight: bold;
    text-align: center;
}
.parser-header span {
    display: block;
    min-width: 102px;
    padding: 5px 0;
}
.source-header {
    font-weight: normal;
    padding: 6px 4px 0 5px;
}

.source-header > div > div {
    display: inline-block;
    margin: 3px;
}

.run-check {
    color: #757575;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    margin: 0 3px;
    overflow: hidden;
    position: relative;
}

.run-check , .run-check input , .run-check label {
    cursor: pointer;
}

.filesize {
    color: #757575;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    padding: 0 2px;
}
.running {
    background-color: yellow;
}
.options-container {
    display: inline-block;
    vertical-align: top;
}
.options-header {
    height: 28px;
}
.parser-options {
    display: inline-block;
    vertical-align: top;
}
.parser-name {
    display: inline-block;
    font-weight: bold;
    min-width: 102px;
    text-align: center;
}
.options-container th {
    font-weight: normal;
    height: 26px;
}
.options-container td {
    font-size: 16px;
    padding: 0;
    text-align: center;
}
.options-container label {
    line-height: 21px;
}
.options-container input {
    vertical-align: top;
}
